*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:15px 30px;
    font-size: 17px;
    padding: 8px;
}
.Box{
    background-color: darkgray;
    padding: 10px 20px;
    border: 2px solid grey;
    border-radius: 6px;
}
input[type="text"],
input[type="email"]{
    width: 30%;
}
input[type="submit"],
input[type="reset"]{
    width: 5%;
}
textarea{
    width: 100%;
}
fieldset{
    background-color: white;
    border: 1px solid gray;
}
input[type="submit"],
input[type="reset"]{
    background-color: rgb(62, 154, 190);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
}
input[type="submit"]:hover,
input[type="reset"]:hover{
    background-color: springgreen;
}