* {
  box-sizing: border-box;
  margin: 0px;
}
.backgroundimg {
  background-image: url(Images/Cell.jpg);
  background-size: 200vmax;
  background-repeat: no-repeat;
  background-position-x: center;
  background-attachment: fixed;
}
header {
  padding: 8%;
  padding-bottom: 23%;
  background-color: rgba(0, 0, 0, 0.6);
  color: yellow;
  font: inherit;
  font-size: 330%;
  text-align: center;
  border: blueviolet;
}
a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
header img{
    width: 170px;
}
nav {
  background-color: black;
  text-align: right;
  padding: 10px;
}
.backgroundimg2 {
  background-image: url(Images/About.jpg);
  background-size: 200vmax;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
}
.about {
  padding: 8%;
  padding-bottom: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 150%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.Events {
  text-align: center;
  background-image: url(Images/T.jpg);
  background-size: 200vmax;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-attachment: fixed;
}
.background3 {
  background-color: rgba(0, 0, 0, 0.6);
  padding-bottom: 20%;
}
h4 {
  font-size: 300%;
}
h1 {
  font-size: 300%;
}
nav a:hover {
  color: blue;
}
@media all and (max-width: 717px){
    header{
        font-size: 230%;
        padding: 15%;
        padding-bottom: 37%;
    }
    .about{
        font-size: 135%;
        padding: 15%;
        padding-bottom: 60%;
    }
}
@media all and (max-width: 571px){
    header{
        font-size: 200%;
        padding: 20%;
        padding-bottom: 45%;
    }
    header img{
        width: 180px;
    }
    .about{
        font-size: 120%;
        padding: 17%;
        padding-bottom: 63%;
    }
}
@media all and (max-width: 517px){
    header{
        font-size: 150%;
        padding-bottom: 55%;
    }
    header img{
        width: 150px;
    }
    .about{
        font-size: 100%;
        padding-bottom: 70%;
    }
}
@media all and (max-width: 421px){
    header{
        font-size: 100%;
        padding-bottom: 65%;
    }
    header img{
        width: 130px;
    }
    .about{
        font-size: 80%;
        font-size: 100%;
        padding-bottom: 80%;
    }
}
.container {
  width: 100%;
  height: 50%;
  margin: 70px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.container .box {
  position: relative;
  width: 224px;
  height: 225px;
  background: #ff0;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
}
.container .box .imgbox {
  position: relative;
  overflow: hidden;
}
.container .box .imgbox img {
  max-width: 100%;
  transition: transform 2s;
}
.container .box:hover .imgbox img {
  transform: scale(1.2);
}
.container .box .details {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.8);
  transform: scaleY(0);
  transition: transform 0.5s;
}
.container .box:hover .details {
  transform: scaleY(1);
}
.container .box .details .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 15px;
  color: #fff;
}
.container .box .details .content h4 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #ff0;
}
.container .box .details .content p {
  margin: 10px 0 0;
  padding: 0;
}
h1 {
  text-align: center;
  color: yellow;
}
footer{
    padding: 1%;
    background-color: black;
}